.footer-distributed{
	background-color: lightgray;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
    bottom:0;
	padding: 10px 30px;
	margin-top: 80px;
    font-size: 10pt;
    position: absolute;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
    margin-top: 5px;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 30%;
    float: center;
    margin-top: 5px;
}


.footer-distributed .footer-center p a{
    font-size: 14px;
	color: #8f9296;
    font-weight: normal;
	text-decoration: none;
    margin: 0;
}


/* Footer Right */

.footer-distributed .footer-right{
	float: right;
    margin-top: 3px;
}

.footer-distributed .footer-icons{
    margin: 0;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	cursor: pointer;
	border-radius: 2px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 20px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}