<md-dialog aria-label="Failed"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Failed</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <i class="glyphicon glyphicon-remove"></i>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <h2>Server is down. Please try again later</h2>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-click="answer('okay')">
         Okay
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
