
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    </head>
    
    <body>
 
        <div ng-controller="HomeController as ctrl" layout="column" ng-cloak>
            <div class="body-main">
                <img class="confident-logo" itemprop="logo" src="http://confidentdentalcare.in/images/confident_logo.png" alt="Confident Dental Care" title="Confident Dental Care">
                <br>
            </div>
            <md-content class="md-padding">
                <form ng-submit="$event.preventDefault()" name="searchForm">
                <div layout-gt-sm="row" class="panel panel-body panel-search">
                    <div class="input-search" flex>
                        <md-autocomplete 
                        ng-disabled="ctrl.isDisabled"
                        md-min-length="0"
                        md-no-cache="ctrl.noCache"
                        md-selected-item="ctrl.selectedPrsnl"
                        md-selected-item-change="ctrl.selectedPrsnlChange(prsnl)"
                        md-search-text="ctrl.searchPrsnl"
                        md-items="prsnl in ctrl.queryPrsnlSearch(ctrl.searchPrsnl)"
                        md-item-text="prsnl.fName  + ' ' + prsnl.lName"
                        placeholder="Search dentist">
                        <md-item-template>
                            <span md-highlight-text="ctrl.searchPrsnl">{{prsnl.fName + ' ' + prsnl.lName}}</span>
                        </md-item-template>
                        </md-autocomplete>
                    </div>
                    <div class="input-search" flex>
                        <md-autocomplete 
                        md-min-length="0"
                        ng-disabled="ctrl.isDisabled"
                        md-no-cache="ctrl.noCache"
                        md-selected-item="ctrl.selectedAppt"
                        md-selected-item-change="ctrl.selectedApptChange(item)"
                        md-search-text="ctrl.searchAppt"
                        md-items="item in ctrl.queryApptSearch(ctrl.searchAppt)"
                        md-item-text="item.description"
                        placeholder="Search treatment">
                        <md-item-template>
                            <span md-highlight-text="ctrl.searchAppt">{{item.description}}</span>
                        </md-item-template>
                        </md-autocomplete>
                    </div>
                    <div class="input-search">
                        <md-button class="md-icon-button md-raised md-primary" aria-label="book" ng-click="nextPage()"><i class="glyphicon glyphicon-arrow-right"></i></md-button>
                    </div>
                </div>
                </form>
            </md-content>
        </div>
        
    </body>
    
        
    <footer class="footer-distributed">
        <div class="footer-left">
            <div class="hidden-xs">
                <p class="footer-company-name">
                    Copyright © 2016 RTWO Technologies Pvt. Ltd. All Rights Reserved.
                </p>
            </div>
        </div>

        <div class="footer-center">
            <p>
            <a href="">About Us</a> |
            <a href="">Terms and Conditions</a> |
            <a href="">Contact Us</a>
            </p>
        </div>

        <div class="footer-right">
            
            <div class="footer-icons">

                <a class="fa fa-2x fa-google-plus" href="https://plus.google.com/+ConfidentdentalcareInBestDentalClinic/posts"></a>
                <a class="fa fa-2x fa-facebook" href="http://www.facebook.com/ConfidentDentalCareIndia"></a>
                <a class="fa fa-2x fa-twitter" href="https://twitter.com/Confident_care"></a>
                <a class="fa fa-2x fa-youtube" href="http://www.youtube.com/user/Confidentalhospital"></a>
                <a class="fa fa-2x fa-tags" href="http://confidentdental.blogspot.com/"></a>
                <a class="fa fa-2x fa-pinterest" href="http://www.pinterest.com/confidentdental/dental-care/"></a>
                <a class="fa fa-2x fa-envelope" href="mailto:pro@confidentdentalcare.in?cc=saphal@confidentdentalcare.in,administrator@confidentdentalcare.in"></a>      
            </div>

        </div>
    </footer>
</html>
